
@{
    ViewBag.Title = "StaffVerification";
}

<h2>StaffVerification</h2>
<div class="danger alert-danger">
    <strong>Message..!!</strong>  @ViewBag.Message,  please click here to Login @Html.ActionLink("Login", "Login", "Register")
</div>
