
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
@*@using (Html.BeginForm("Approve", "Approvals", FormMethod.Post))
{*@
    @Html.AntiForgeryToken()
    <div class="tab-pane" id="nok">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            @*<button type="button" class="btn btn-success" onClick="GetApprovalData()">Fetch Approvals</button>*@
                            <table class="table table-centered table-nowrap" id="show" method="post">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Document No</th>
                                        <th>Document Type</th>
                                        <th>Sender ID</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th style="text-align:center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
@*}*@
    <script>
        //console.log('Get Open Applications Test');
        document.addEventListener('DOMContentLoaded', (event) => {
            LoadApprovals();
        });

        function LoadApprovals() {
            //the event occurred
            $.ajax(
            {
                url: '/Approvals/GetOpenApplications',
                type: 'GET',
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data.ApprovalList);
                    $.each(data.ApprovalList, function (index, value) {
                        var $tbody = $('tbody');
                        console.log(index);
                        $tr = $('<tr id="row' + index + '"></tr>');
                        $tr.append('<td>' + value.DocumentNo + '&nbsp;</td>');
                        $tr.append('<td>' + value.DocumentType + '&nbsp;</td>');
                        $tr.append('<td>' + value.SenderID + '&nbsp;</td>');
                        $tr.append('<td>' + value.DateSent + '&nbsp;</td>');
                        $tr.append('<td>' + value.Amount + '&nbsp;</td>');
                        //$tr.append('<button type="button" class="btn btn-primary" style="margin:2px;" onClick="OnPreview()">Preview</button>');
                        $tr.append('<button type="button" class="btn btn-success" style="margin:3px;" onClick="onApprove(this)">Approve</button>');
                        $tr.append('<button type="button" class ="btn btn-danger" style="margin:5px onClick="onReject(this)">Reject</button>');

                        $tbody.append($tr);
                        index++;
                    });
                },
                error: function () {
                    console.log("Error");
                    alert("error");
                }
            });
        }

        function onApprove(td) {
            $('.table tbody').on('click', '.btn', function () {
                var currow = $(this).closest('tr');
                var docNo = currow.find('td:eq(0)').text();
                if (confirm('Are you sure you want to approve this document ?')) {
                        $.ajax({
                            url: '/Approvals/Approve?docNo=' + docNo,
                            type: 'POST',
                            data: "",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                alert('Approval is successful');                               
                                LoadApprovals();
                            },
                            error: (error) => {
                                console.log(JSON.stringify(error));
                                alert('error');
                            }
                        });
                        $(this).closest("tr").remove();
                    } else {
                        alert('System Error');
                    }
            });
        }

        function onReject(td) {
            if (confirm('Are you sure you want to delete this record ?')) {
                row = td.parentElement.parentElement;
                document.getElementById("show").deleteRow(row.rowIndex);            
               
            }
            //$('.table tbody').on('click', '.btn', function () {
            //    var currow = $(this).closest('tr');
            //    var docNo = currow.find('td:eq(0)').text();
            //    alert(docNo);
                //if (confirm('Are you sure you want to reject this document ?')) {
                //    $.ajax({
                //        url: '/Approvals/Reject?docNo=' + docNo,
                //        type: 'POST',
                //        data: "",
                //        contentType: 'application/json; charset=utf-8',
                //        success: function (data) {
                //            alert('Rejection is successful');
                //            LoadApprovals();
                //        },
                //        error: (error) => {
                //            console.log(JSON.stringify(error));
                //            alert('error');
                //        }
                //    });
                //    $(this).closest("tr").remove();
                //} else {
                //    alert('System Error');
                //}
            //});
        }

        function OnPreview() {
            alert("Preview !!!!");
        }
    </script>