
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<br />


<div class="container">
    <h3><strong>Payroll Report</strong></h3>
   


    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label for="date">Month:</label>
                @Html.DropDownList("linktoMonthId", null, "--Select--", new
           {
               @id = "ddlMonths",
               @class = "form-control",
               @style = "width:200px"
           })
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="date">Year:</label>
                @Html.DropDownList("linktoYearId", null, "--Select--", new
            {
                @id = "ddlYears",
                @onChange = "return ChangeYear(this)",
                @class = "form-control",
                @style = "width:200px"
            })
                
            </div>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
    </div>
</div>

<script type="text/javascript">


    function ChangeYear(obj) {
        window.location.href = '@Url.Action("Index","DropDown")?Year=' + obj.value;
    }

</script> 
