@model KFCPortal.Models.imprest
<div class="tab-pane" id="nok">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap" id="example" method="post">
                            <thead class="thead-light">
                                <tr>
                                    <th>Account No</th>
                                    <th>Account Type</th>
                                    <th>Account Name</th>
                                    <th>Amount</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<button type="submit" class="btn btn-danger">Send Approval Request</button>
